<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-btn" slot="start">
      <ion-button (click)="back()">
        <ion-icon style="color: white;" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="inputs-div">
    <ion-input type="text" placeholder="Contraseña actual"></ion-input>
    <ion-input type="password" placeholder="Nueva contraseña"></ion-input>
    <ion-input type="password" placeholder="Confirmar contraseña"></ion-input>
  </div>
  <ion-button (click)="onClick()" fill="clear" shape="round" class="bottom-button">
    Cambiar
  </ion-button>
</ion-content>
